body
{
	background: #C9D1C8;
	color: #5B7065;
	font-family: cursive;
}
.titulo
{
	font-size: 60px;
	text-shadow: 5px 5px 5px black;
	position: absolute;
	top: 10px;
	left: 535px; 
}
.logo
{
	font-size: 10px;
	color: black;
	background: black;
	width: 0px;
	height: 0px;
	border-radius: 10px;
	position: absolute;
	top: 100px;
	left: 500px;
}
.img1
{
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 10px;
	width: 0px;
	height: 0px;
}
.caja
{
	background: black;
	color: white;
	width: 150px;
	height: 100px;
	border-radius: 10px;
	border: 5px solid;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 250px;
	left: 250px; 
}
.yesterday
{
	background: black;
	color: #C9D1C8;
	width: 0px;
	height: 0px;
	border-radius: 10px;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 370px;
	left: 250px; 
	font-size: 25px;
}
.equis
{
	position: absolute;
	top: 275px;
	left: 450px;
	font-size: 25px;
	width: 50px;
	height: 50px;
	color: white;
	background: #C9D1C8;
	border-radius: 10px;	
	text-align: center;
}
.geo
{
	background: black;
	color: white;
	width: 150px;
	height: 100px;
	border-radius: 10px;
	border: 5px solid;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 250px;
	right: 250px; 
}
.tomorrow
{
	background: black;
	color: #C9D1C8;
	width: 0px;
	height: 0px;
	border-radius: 10px;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 370px;
	right: 250px; 
	font-size: 25px;	
}
.vhs
{
	position: absolute;
	top: 275px;
	right:  450px;
	font-size: 25px;
	width: 50px;
	height: 50px;
	color: white;
	background: #C9D1C8;
	border-radius: 10px;	
	text-align: center;	
}